# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

**/Debug
**/DEBUG
**/debug
**/Release
**/RELEASE
**/release
**/Deploy
**/deploy
**/.vs
**/*.user
Thumbs.db
*.aps

!ATSpectrograph/**